body {
    background-color: #C2948A;
    color: #283f68;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: #06BCC1;
}

h2 {
    color:#545E75;
    font-variant: small-caps;
    text-align: center;
}

#container {
    width: 80%;
    margin: auto;
    align-self: center;
    background-color: #BED8D4;
    text-align: center;
    box-shadow: 5px 3px 10px grey;
}

nav {
    margin: 15px;
    font-size: medium;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #6B8F71;
}

a:visited {
    color: #6B8F71;
}

a:hover {
    background-color: #81D2C7;
}

section {
    padding: 25px;
    border-top: 1px black solid;
    min-height: 400px;

    img {
        height: 300px;
        float: left;
        padding-left: 0px;
}
}

h5{
    color:#545E75;
    font-variant: small-caps;
    text-align: center;
    font-size: 25px;
}

ul{
    list-style-position: inside;
}