body {
    background-color: #79B473;
    margin: 0;
    height: 2225px
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #f5ff63;
    justify-content: flex-end
}
#navbar a {
    float: left;
    display: block;
    color: #0e570c;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #0e570c;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}
h2 {
    text-align: center;
    color: #0e570c;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
}

.topbackground {
    max-width: 86%;
    background-image: url(images/TopBackground.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 780px;
    margin: auto;
    
}

.logo {
    width: 120px;
    float: left;
    padding: 20px;
    position: static;

    
}

.topbar {
    background-color: rgb(247, 227, 190);
    min-height: 145px;
}

section {
    padding: 15px;
    border-top: 1px black solid;
    min-height: 450px;
    font-size: 22px;

    img {
        height: 350px;
        float: right;
        padding-left: 5px;
    }
}

.odd {
    background-color: wheat;
    
}

footer {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #80461B;
    border-top: 1px black double;
    border-bottom: 1px black double;
    margin-top: 15px;
    padding: 15px;
}