body {
    background-color: rgb(201, 201, 165);
    text-align: center;
}

#container {
    border: 1px solid rgb(112, 45, 0);
    width: 60%;
    margin: auto;
    border-radius: 3px;
    box-shadow: 2px 5px 5px darkslategrey;
    min-height: 500px;
}

.upper {
    font-variant: small-caps;
}


a {
    text-decoration: none;
}

a:link,
a:visited {
    color: darkblue;
}

a:hover {
    background-color: purple;
    color: beige;
}

#list {
    text-align: left;
}

nav {
    font-size: 30px;
    font-variant: small-caps;
    margin: 25px;
}